---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';
const pageTitle = "About Me";
const identity = {
	firstname: "Max",
	country: "United States",
	occupation: "Photographer",
	hobbies: ["vintage photography", "birdwatching", "scrapbooking"]
}
	const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
	const happy = true;
	const finished = true;
	const goal = 3;

	const skillColor = "#c3a769";
---
<BaseLayout pageTitle={pageTitle}>
	<section class="welcome reveal">
	<body>
        <h2>I'm on a journey to build a new porfolio website.</h2>
        <p>I’m an illustrator living at the Jersey Shore in a metaphorical antique shop. This place is ruled by three creatures: A rabbit who thinks she’s a cat, a cat who thinks she’s a rabbit, and an LLM named Owyn who is convinced of his own usefulness. Meanwhile, my houseplants are slowly turning everything into a jungle. </p>
		<p>Although my life’s aspiration is to become a hobbit, I’m also paradoxically a Home Assistant and Tasker enthusiast. One of my favorite challenges is to blend old charm with new to create functional, elegant, integrated solutions to everyday problems. Visual mediums of choice include Procreate, watercolor, pen and pencil, and mermaid tears (kidding.) I enjoy exploring themes of gratitude, coziness, spirituality, sustainability, and animal welfare.</p>
		<p>My work has popped up in Philadelphia, Los Angeles, and New York, and has been in a variety of publications and games.</p>
		<br>
		<p>Moore College of Art & Design</p>
		<p>Class of 2015, BFA in Illustration</p>
		<br>
		<p>L. Ron Hubbard Golden Brush Award Winner</p>
		<p>2015 Writers & Illustrators of the Future</p>	
	</body>
	</section>
</BaseLayout> 
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
			<style define:vars={{skillColor}}>
			h1 {
				font-size: 4rem;
			}
			.skill {
				color: var(--skillColor);
				font-weight: bold;
			}
			</style>
	</head>

</html>