---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>
		<h1>Hello</h1>
        <h2>I'm on a journey to build a new porfolio website.</h2>
        <p>With the rising price of Squarespace and similar platforms, I think this is a worthwhile project to chip away at.</p>
	</body>
</html>