---
import Menu from './Menu.astro';
import Navigation from './Navigation.astro';
import ThemeIcon from './ThemeIcon.astro';
---
<header>
  <nav>
    <div>
      <ThemeIcon />
      <img
        class="logo"
        src={"/Graphics/Gold+Logo-swoopy.webp"}
        alt="Studio Logo" />
      <Menu />
    </div>
    <Navigation />
  </nav>
</header>

<style>

div {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 130px;
  height: auto;
}

</style>