---
const { platform, username } = Astro.props;
---

<a href={`https://www.${platform}.com/${username}`}>
  {platform}
</a>


<style>
a {

  padding:
    .2rem 1rem;

  color:
    var(--ink);

  border:
    1px solid var(--gold);

  border-radius:
    15px;

  font-size:
    .85rem;

  letter-spacing:
    .08em;

  text-transform:
    lowercase;

  transition:
    .3s ease;

}


a:hover {

  color:
    var(--gold);

  background:
    var(--surface);

}
</style>